body {
  margin: 10px;
}

.filters-info {
  color: green;
  width: 35rem;
  background-color: lightblue;
  padding: 1rem;
  border: 3px dashed green;
  border-radius: 15px;
}

.meal:hover {
  filter: grayscale(40%) blur(2px);
  border: 3px dashed grey;
}
