body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: 200px;
  height: 200px;
  background-color: darkcyan;
  box-shadow: 7px 10px 25px #808080bf;
  margin: 20px;
}

.animate__animated.animate__bounce {
  --animate-duration: 1200ms;
  --animation-delay: 3s;
}

.animate__animated.animate__bounce:hover {
  background: linear-gradient(deeppink, lightgray);
  color: rgb(123, 255, 0);
}


