*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  background:url(../images/bg-sanfrancisco.jpg);
  background-repeat: no-repeat;
  /* background-position: 100% 100px; */
  background-size: cover;
  background-attachment: fixed;
  height: 300vh;
}

p{
  width: 35%;
  color: rgb(255, 0, 0);
  text-overflow: scroll;
}