body {
  margin: 10px;
}
.horizontal-spacing{
  color: #376491;
  background:antiquewhite;
  padding: 15px;
  margin: 30px;
  
}
h1{
  margin: 3rem 0 1rem;

}
p{
  letter-spacing: 1px;
  word-spacing: 5px;
  /* width: 160ch; */
}