*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    margin: 0;
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: 60px auto 60px;
    grid-template-areas:"hd hd" 
                        "sidebar main"
                        "footer footer";
}

header,aside,main,footer{
    padding: 16px;
    text-align: center;
}

header{
    background: rgb(97, 85, 55);
    grid-area: hd;
}

aside{
    background-color: yellow;
    grid-area: sidebar;
}
main{
    grid-area: main;
}
footer{
    background-color: grey;
    grid-area: footer;
}

.navigation-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
.navigation-item{
    margin: 0 10px;
}
.navigation-item a{
    text-decoration: none;
    color: white;
}

.navigation-item a:hover,
.navigation-item a:active{
    color: #daff74;
}
